*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#111827;
    color:#fff;
}

#splash{
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#0f172a;
}

#splash h1{
    font-size:38px;
    color:#00e5ff;
}

#splash p{
    margin-top:10px;
    color:#ccc;
}

#login,
#home{
    padding:20px;
}

.card{
    background:#1f2937;
    border-radius:16px;
    padding:20px;
    margin-top:20px;
}

input{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    outline:none;
}

button{
    width:100%;
    padding:14px;
    margin-top:15px;
    border:none;
    border-radius:10px;
    background:#00e5ff;
    color:#111;
    font-weight:bold;
    cursor:pointer;
}

header{
    text-align:center;
    padding:15px 0;
}